header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    background-color: #301d6990;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
}

#horn-modal{
  z-index: 1;
  width: 80vw;
  height: 80vh;
  background-color: rgba(255,255,255,.9);
  display: none;
  position: fixed;
  top: 10%;
}